beta
images
imgs
pdfs
small_imgs
sponsors
src/htdocs
src/vendor
src/theme/**/bundle.js
composer.lock
src/theme/**/style.css
.env
tmp
*.map
node_modules
src/plugins/akismet
src/plugins/hello.php
src/plugins/carbon-fields-plugin
src/theme/migrations/config-*.php
vendor