.form-default {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #f9f9f9;
  border: 1px solid #cccccc;
  padding: 20px;
}

.help-text {
  color: #999999;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;
}

.control-group {
  clear: left;
  font-size: 14px;
}

.control-group > label {
  min-width: 90px;
}

.controls label {
  display: block;
}

label {
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
}

label + .controls label {
  font-weight: normal;
}

input[type=text],
input[type=number],
textarea,
select,
.spinbox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition-duration: .2s, .2s, .2s;
  -moz-transition-duration: .2s, .2s, .2s;
  -ms-transition-duration: .2s, .2s, .2s;
  -o-transition-duration: .2s, .2s, .2s;
  transition-duration: .2s, .2s, .2s;
  -webkit-transition-property: border, box-shadow, outline;
  -moz-transition-property: border, box-shadow, outline;
  -ms-transition-property: border, box-shadow, outline;
  -o-transition-property: border, box-shadow, outline;
  transition-property: border, box-shadow, outline;
  background-color: white;
  border: 1px solid #cccccc;
  color: #666666;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 8px;
}

option {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 0;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 5px;
}

select {
  height: 30px;
  line-height: 30px;
}

select[multiple], select[size] {
  height: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset:last-child {
  padding-bottom: 0;
}

.controls label {
  font-size: 12px;
  font-weight: normal;
}

.half {
  float: left;
  width: 50%;
  vertical-align: top;
}

.inline .pull-left + label {
  margin-left: 15px;
}

legend {
  background-color: transparent;
  color: #779f46;
  padding: 0 0 5px 0;
  font-size: 16px;
  line-height: 25px;
}

fieldset ~ fieldset legend + .control-group,
.control-group + hr {
  margin-top: 20px;
}

.form-actions {
  border-top: 1px solid #cccccc;
  clear: left;
  margin-top: 20px;
  padding-top: 20px;
}

input[type=search] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: white url(/assets/search.png) no-repeat right 50%;
  border: 1px solid #cccccc;
  height: 28px;
  padding: 0 30px 0 10px;
}

form h3 {
  font-weight: normal;
  margin: 10px 0;
}

.inline label {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  text-align: right;
  white-space: nowrap;
}

.inline label .control-group {
  margin-bottom: 10px;
}

.inline label.multiline {
  line-height: 18px;
  height: 18px;
}

.inline .controls {
  margin-left: 110px;
}

.inline label + .controls label {
  height: 18px;
  line-height: 18px;
  text-align: left;
}

.inline .form-actions {
  border-top: 0;
  margin-top: 0;
  padding-left: 110px;
  padding-top: 0;
}

.no-float label {
  float: none;
}

form hr {
  margin-top: 0;
}

input[disabled], textarea[disabled], select[disabled] {
  background: #ededed;
  color: #999999;
}

.btn.disabled, .disabled.btn-primary,
.disabled.btn-info,
.disabled.btn-success,
.disabled.btn-warning,
.disabled.btn-caution,
.disabled.btn-danger,
.disabled.btn-inverse, .btn[disabled], [disabled].btn-primary,
[disabled].btn-info,
[disabled].btn-success,
[disabled].btn-warning,
[disabled].btn-caution,
[disabled].btn-danger,
[disabled].btn-inverse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ededed;
  background-image: none;
  border: 1px solid #cccccc;
  cursor: default;
  color: #999999;
  text-shadow: none;
}

.btn.disabled:hover, .disabled.btn-primary:hover,
.disabled.btn-info:hover,
.disabled.btn-success:hover,
.disabled.btn-warning:hover,
.disabled.btn-caution:hover,
.disabled.btn-danger:hover,
.disabled.btn-inverse:hover, .btn.disabled:active, .disabled.btn-primary:active,
.disabled.btn-info:active,
.disabled.btn-success:active,
.disabled.btn-warning:active,
.disabled.btn-caution:active,
.disabled.btn-danger:active,
.disabled.btn-inverse:active, .btn[disabled]:hover, [disabled].btn-primary:hover,
[disabled].btn-info:hover,
[disabled].btn-success:hover,
[disabled].btn-warning:hover,
[disabled].btn-caution:hover,
[disabled].btn-danger:hover,
[disabled].btn-inverse:hover, .btn[disabled]:active, [disabled].btn-primary:active,
[disabled].btn-info:active,
[disabled].btn-success:active,
[disabled].btn-warning:active,
[disabled].btn-caution:active,
[disabled].btn-danger:active,
[disabled].btn-inverse:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ededed;
}

/* Input sizes */

.input-xs {
  width: 60px;
}

.input-s {
  width: 80px;
}

.input-m {
  width: 160px;
}

.input-l {
  width: 320px;
}

.input-xl {
  width: 480px;
}

.input-full {
  width: 100%;
}

.multi-button {
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.multi-button .primary, .multi-button .toggle {
  float: left;
  position: relative;
  height: 30px;
  border: solid #cccccc;
  color: #0185c6;
  background-image: -ms-linear-gradient(top, white, #ebebeb);
  background-image: -webkit-gradient(top, white, #ebebeb);
  background-image: -webkit-linear-gradient(top, white, #ebebeb);
  background-image: -o-linear-gradient(top, white, #ebebeb);
  background-image: linear-gradient(top, white, #ebebeb);
  background-image: -moz-linear-gradient(top, white, #ebebeb);
}

.multi-button .primary {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  width: 114px;
  border-width: 1px 0 1px 1px;
  -webkit-border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
}

.multi-button .primary .text {
  line-height: 30px;
  padding-left: 17px;
}

.multi-button .toggle {
  -webkit-border-radius: 0px 7px 7px 0;
  -moz-border-radius: 0px 7px 7px 0;
  -ms-border-radius: 0px 7px 7px 0;
  -o-border-radius: 0px 7px 7px 0;
  border-radius: 0px 7px 7px 0;
  border-width: 1px;
  width: 22px;
  -webkit-box-shadow: white 1px 0 0 inset;
  -moz-box-shadow: white 1px 0 0 inset;
  box-shadow: white 1px 0 0 inset;
}

.multi-button .toggle .icon {
  background: url(/assets/arrow-blk-blue.gif) no-repeat 50% -10px;
  display: block;
  height: 11px;
  margin-top: 7px;
}

.multi-button .primary:hover, .multi-button .toggle:hover {
  background-image: -ms-linear-gradient(top, white, #ebebeb 39%, #e3e3e3);
  background-image: -webkit-gradient(top, white, #ebebeb 39%, #e3e3e3);
  background-image: -webkit-linear-gradient(top, white, #ebebeb 39%, #e3e3e3);
  background-image: -o-linear-gradient(top, white, #ebebeb 39%, #e3e3e3);
  background-image: linear-gradient(top, white, #ebebeb 39%, #e3e3e3);
  background-image: -moz-linear-gradient(top, white, #ebebeb 39%, #e3e3e3);
}

.multi-button .submenu {
  display: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  z-index: 10;
  width: 136px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
}

.multi-button .submenu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: white;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 5px 0;
  -webkit-backface-visibility: hidden;
}

.multi-button .submenu ul li {
  padding: 2px 0;
}

.multi-button .submenu ul li:hover {
  background-color: #ebebeb;
}

.multi-button .submenu ul li a {
  display: block;
  padding: 0 5px 0 15px;
}

.multi-button.open .submenu {
  display: block;
}

.spinbox {
  width: 50px;
  height: 30px;
  display: inline-block;
  padding: 0;
  background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -webkit-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
}

.spinbox input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: 0;
  width: 29px;
  float: left;
  height: 29px;
  border-right: 1px solid #cccccc;
  text-align: center;
  color: #333333 !important;
  background: transparent !important;
  position: relative;
  float: left;
}

.spinbox input:focus {
  outline: none;
}

.increment, .decrement {
  display: block;
  height: 15px;
  width: 19px;
  position: relative;
  right: 0;
  margin-left: 29px;
}

.increment:hover, .decrement:hover {
  background-color: #eeeeee;
}

.increment {
  top: 0;
  background: transparent url(/assets/arrow-up-sm.png) no-repeat 50% 50%;
  border-bottom: 1px solid #cccccc;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.decrement {
  bottom: 0;
  height: 13px;
  background: transparent url(/assets/arrow-down-sm.png) no-repeat 50% 50%;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.date {
  width: 125px;
  background: url(/assets/calendar-padded.png) no-repeat right 50%;
  padding: 5px 28px 5px 8px !important;
}

input.currency:before {
  content: "$";
  float: left;
}

form .row > .pull-left {
  min-width: 80px;
  margin-right: 20px;
}

.ui-slider {
  height: 10px;
  background-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  width: 190px;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #ececec 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #ececec 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #ececec 0 -1px 0;
}

.ui-slider-range-min {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #89b554;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #c9d0c0 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #c9d0c0 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px inset, #c9d0c0 0 -1px 0;
}

.ui-slider-handle {
  background-image: -ms-linear-gradient(top, #fafafa, #f8f8f8);
  background-image: -webkit-gradient(top, #fafafa, #f8f8f8);
  background-image: -webkit-linear-gradient(top, #fafafa, #f8f8f8);
  background-image: -o-linear-gradient(top, #fafafa, #f8f8f8);
  background-image: linear-gradient(top, #fafafa, #f8f8f8);
  background-image: -moz-linear-gradient(top, #fafafa, #f8f8f8);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid #cccccc;
  background-color: white;
  display: block;
  position: absolute;
  z-index: 2;
  cursor: default;
  margin-left: -7px;
  margin-top: -2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.ui-slider-handle:active, .ui-slider-handle:focus {
  outline: 0;
}

.slider-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 190px;
  margin-left: 14px;
  margin-top: 5px;
}

.slider-suggestions li {
  color: #999999;
  font-size: 11px;
  text-align: right;
  float: left;
  line-height: 11px;
}

.slider-suggestions li:after {
  content: "|";
  position: relative;
  color: #bbbbbb;
  font-size: 8px;
  top: -18px;
  left: -14px;
}

.form-other {
  color: #909090;
  font-size: 12px;
  padding-left: 28px
}

.input-seperation input {
  margin-bottom: 15px;
}
