/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll {
    /* Theme Footer (when set to scrolling) */
    &.neverending { 
        .site-footer {
            display: none;
        }
    }

    /* Older / Newer Posts Navigation (always hidden) */
    .posts-navigation {  
        display: none;
    }
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end {
    &.neverending {
        .site-footer {
            display: block;
        }
    }
}
