.social {
  height: 25px;
}

#mrm_text {
	padding: 0 40px;
  text-align: center;
}

#mrm_current_match {
	font-size: 18px;
	margin: auto;
	padding: 20px 0 0 0;
	text-align: center;
}

#mrm_current_match > tbody > tr:first-child > td:first-child, #mrm_current_match > tbody > tr:first-child > td:last-child {
	width: 350px;
}

#mrm_current_match img{
	display: block;
	margin: auto;
	width: 200px;
}

#next_match {
	font-style: italic;
	padding: 10px 40px 0 0;
  text-align: right;
}

#time_line {
  background-color: #666;
  background: -webkit-gradient(linear, left center, right center, from(#666666), to(#666), color-stop(.5,black));
  background: -moz-linear-gradient(left, #666666 0%, black 50%, #666 100%);
  color: white;
	font-size: 80%;
  height: 42px;
	margin: 10px -15px;
  padding: 0;
}

#time_line ul {
	list-style-type: none;
}

#time_line li {
	display: inline;
	float: left;
	text-align:center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
	margin: 0 0 10px 0;
	width: 87px;
}

.top-pad_3 {
  padding-top: 3px;
}

#time_line li strong {
	display: block;
}

.left {
  background-image: -ms-linear-gradient(left, #fafbfb, #eaebeb);
  background-image: -webkit-gradient(left, #fafbfb, #eaebeb);
  background-image: -webkit-linear-gradient(left, #fafbfb, #eaebeb);
  background-image: -o-linear-gradient(left, #fafbfb, #eaebeb);
  background-image: linear-gradient(left, #fafbfb, #eaebeb);
  background-image: -moz-linear-gradient(left, #fafbfb, #eaebeb);
}

.right {
  background-image: -ms-linear-gradient(right, #fafbfb, #eaebeb);
  background-image: -webkit-gradient(right, #fafbfb, #eaebeb);
  background-image: -webkit-linear-gradient(right, #fafbfb, #eaebeb);
  background-image: -o-linear-gradient(right, #fafbfb, #eaebeb);
  background-image: linear-gradient(right, #fafbfb, #eaebeb);
  background-image: -moz-linear-gradient(right, #fafbfb, #eaebeb);
}

.live_match {
  background: black;
  color: white;
}

.match {
	border: 1px solid black;
	height: 40px;
	font-size: 10px;
	margin: 0 0 12px 0;
	width: 120px;
}

#region_1 {
  height: 404px;
	position: absolute;
	width: 50%;
}

#region_1 .match, #region_2 .match {
	border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
}

#region_1 .round2 {
	position: absolute;
	left: 120px;
	top: -40px;
}

#region_1 .round2 .match, #region_2 .round2 .match, #region_3 .round2 .match, #region_4 .round2 .match {
	margin: 66px 0 0 0;
}

#region_1 .round3 .match, #region_2 .round3 .match, #region_3 .round3 .match, #region_4 .round3 .match {
	margin: 0 0 175px 0;
	border: 1px solid black
}

#region_1 .round3, #region_2 .round3 {
	border-right: 1px solid #ccc;
	height: 255px;
	left: 230px;
	position: absolute;
	top: 78px;
	width: 95px;
}

#region_1 .round4, #region_2 .round4 {
	position: absolute;
	left: 300px;
	top: 185px;
}

#region_1 .round4 .match, #region_2 .round4 .match,#region_3 .round4 .match, #region_4 .round4 .match {
	border: 1px solid black;
}

#region_2 {
	position: absolute;
  height: 404px;
	top: 545px;
}

#region_2 .round2 {
	position: relative;
	left: 120px;
	top: -444px;
}

#region_3 {
	position: absolute;
  height: 404px;
	left: 810px;
}

#region_3 .round2 {
	position: absolute;
	left: -120px;
	top: -40px;
}

#region_3 .round3, #region_4 .round3 {
	border-right: 1px solid #ccc;
	height: 232px;
	left: -230px;
	margin: 43px 0 0 0;
	position: absolute;
	top: 35px;
	width: 25px;
}

#region_3 .round4, #region_4 .round4 {
	position: absolute;
	left: -300px;
	top: 185px;
}

#region_3 .match, #region_4 .match {
	border-width: 1px 0px 1px 1px;
  border-radius: 5px 0 0 5px;
}

#region_4 {
	position: absolute;
	height: 404px;
	left: 810px;
	top: 545px;
}

#region_4 .round2 {
	position: relative;
	left: -120px;
	top: -444px;
}

#region_5 {
	font-size: 10px;
	position: absolute;
	left: 252px;
	top: 424px;
	width: 425px;
  background-color: #666;
  background: -webkit-gradient(linear, left center, right center, from(#666666), to(#666), color-stop(.5,black));
  background: -moz-linear-gradient(left, #666666 0%, black 50%, #666 100%);
	border: 1px solid black;
	border-width: 1px 1px 1px 1px;
	border-radius: 5px 5px 5px 5px;
	height: 100px;
}

#match61 {
	border-width: 1px 0px 1px 1px;
	border-radius: 5px 0 0 5px;
	float: left;
	left: 20px;
	margin: 30px 0 0 0;
	position: relative;
}

#match62 {
	border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
	float: right;
	margin: 30px 0 0 0;
	position: relative;
	right: 20px;
}

#match63 {
  background-color: #eaebeb;
  background: -webkit-gradient(linear, left center, right center, from(#EAEBEB), to(#eaebeb), color-stop(.5,#fafbfb));
  background: -moz-linear-gradient(left, #EAEBEB 0%, #fafbfb 50%, #eaebeb 100%);	border-width: 1px 1px 1px 1px;
	border-radius: 5px 5px 5px 5px;
  color: black;
	float: left;
	height: 58px;
	font-size: 12px;
	left: 20px;
	padding-top: 10px;
	position: relative;
	top: 20px;
	width: 143px;
}

#match63 dt {
  margin-left: 10px;
}

#match63 .band_abbr {
	width: 50px;
}

.mrm_band, .mrm_votes {
	font-weight: bold;
	text-align: center;
	width: 200px;
}

.mrm_winner {
	font-weight: bold;
}

.mrm_loser {
	color: grey;
}

.mrm_loser img {
	border: 1px solid black;
	filter:alpha(opacity=35);
	-moz-opacity: 0.35;
	opacity: 0.35;
}

.voting_message {
	text-align: center;
	font-weight: bold;
}

.middle {
	font-family: 'Courier New';
	font-size: 24px;
	font-weight: bold;
  margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 100px;
}

#mrm_scoring {
	border-collapse: collapse;
	font-size: 18px;
	margin: auto;
	padding: 0 20px;
	width: 880px;
}

#mrm_scoring td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#band1_score {
	background-color: #FFA500;
  border-left: 1px solid black;
	color:black;
	width: 15px;
}

#band1_value {
  background-image: -ms-linear-gradient(left, #FFA500, black);
  background-image: -webkit-gradient(left, #FFA500, black);
  background-image: -webkit-linear-gradient(left, #FFA500, black);
  background-image: -o-linear-gradient(left, #FFA500, black);
  background-image: linear-gradient(left, #FFA500, black);
  background-image: -moz-linear-gradient(left, #FFA500, black);
}

#band2_score {
	background-color: #1047A9;
  border-right: 1px solid black;
	color: white;
	width: 15px;
}

#band2_value {
  background-image: -ms-linear-gradient(right, #1047A9, black);
  background-image: -webkit-gradient(right, #1047A9, black);
  background-image: -webkit-linear-gradient(right, #1047A9, black);
  background-image: -o-linear-gradient(right, #1047A9, black);
  background-image: linear-gradient(right, #1047A9, black);
  background-image: -moz-linear-gradient(right, #1047A9, black);
}

#next_match span {
	font-weight: bold;
	font-style: normal;
}

#bracket {
	height: 950px;
	position: relative;	
}

#bracket dt:after {
  content: '';
}

.match dl {
	margin: 0;
}

.seed {
	display: inline-block;
	font-size: 8px;
	padding: 0 15px 0 5px;
	text-align: right;
	width: 11px;
}

.seed_size {
	position: relative;
	font-size: 65%;	
}

.band_abbr {
	display: inline-block;
	width: 50px;
}

.percentage {
	position: relative;
	left: 12px;
}

.sponsor {
	color: #592D00;
	font-weight: bold;
	left: 400px;
	position: absolute;
	text-align: center;
}

.sponsor a {
	color: #592D00;
  text-decoration: none;
}

#sponsor_top {
	top: 34px;
}

#sponsor_bottom {
	top: 818px;
}
