.table {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
}

.table thead {
  background-color: #CC3333;
}

.table thead th {
  color: white;
  text-shadow: 0.1em 0.1em black;
}

.table tbody td, .table tfoot td {
  border-top: 1px solid darkGray;
}


.table tbody:first-of-type tr:first-child td {
  border-top: 1px solid darkGray;
}

.table td {
  font-size: 12px;
  line-height: 18px;
  padding: 10px 15px;
  color: black;
  text-align: left;
}

.table-bordered, .table-bordered-horizontal {
  border: 1px solid darkGray;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.table-bordered tbody td, .table-bordered tfoot td {
  border-left: 1px solid darkGray;
}

.table-bordered tbody td:first-child, .table-bordered tfoot td:first-child {
  border-left: 0;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tfoot tr:nth-child(odd) td {
  background-color: lightgray;
}

.table-row-hover > tbody tr:hover a {
  color: yellow;
}

.table-row-hover.table-striped > tbody tr:nth-child(odd):hover td,
.table-row-hover.table-striped > tfoot tr:nth-child(odd):hover td {
  background-color: #fafafa;
}

.table-row-hover > tbody tr:hover td,
.table-row-hover.table-striped > tbody tr:nth-child(odd):hover td,
.table-row-hover.table-striped > tfoot tr:nth-child(odd):hover td {
  background-color: black;
  color: white;
}

.table-condensed th, .table-condensed td {
  padding: 0 15px;
}

.table-center {
  margin: 0 auto;
}

.no-header {
  border-radius: 0;
}

.no-header tbody:first-of-type tr:first-child td {
  border-top: none;
}

.table tbody .subheader:nth-child(odd) td, .table tbody .subheader:nth-child(even) td, .subheader a {
  background: black;
  border-top: black;
  color: white;
}

.table tbody:first-of-type .subheader:first-child td {
  border-top: black;
}


.ondemand {
  margin-top: 20px;
  font-size: 14px;
}

.ondemand tr td:first-child {
  padding-right: 20px;
}

.ondemand td {
  padding-bottom: 10px;
}

.table-center {
  margin: 0 auto;
}

.year_end_staff_pick {
  border-collapse: collapse;
  border: 1px solid grey;
  width: 100%;
}

.year_end_staff_pick td {
  background-color: #f9f9f9;
  vertical-align: top;
}

.year_end_staff_pick td ol {
  font-size: 12px;
}
